* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --purple-200: #9a7bd1;
  --purple-500: #6b36c8;
  --purple-800: #441f88;

  --black-800: #171717;

  --gray-200: #cccccc;
  --gray-400: #505861;

  --white: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-200);
  color: var(--black-800);
}

.botao {
  color: var(--purple-800);
  padding: 12px 32px;
  border: 1px solid var(--purple-800);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}

.botao:hover {
  color: var(--gray-200);
  background-color: var(--purple-800);
  transition: 0.3s;
}

.botao:active {
  transform: scale(0.98);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilização seção header*/

.menu_container {
  background-color: var(--purple-800);
  position: sticky;
  top: 0;
  filter: opacity(0.9);
  height: 4rem;
  display: flex;
  justify-content: center;  
}

.menu_container a{
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
}

.menu_container a:hover {
  color: var(--purple-200);
}

.menu_content {
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_lista {
    list-style: none;
}

.menu_lista li {
    margin: 0 0 0 16px;
}

/*home*/

.home{
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#home_texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
}

#home_texto h1{
  padding-top: 1rem;
} 

#home_texto p{
  padding-top: 1rem;
} 

#home_texto a{
  margin-top: 1rem;
} 

#home_imagem{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Seção sobre */
.sobre_container{
  max-width: 1120px;
  margin: -24pc auto;
  height: 100vh;
  display: flex;
  align-items: center;
}

.sobre_container img{
  width: 300px;
  font-size: 35%;
  border: 5px solid var(--purple-500);
  border-radius: 50%;
}

.sobre_container h1{
  font-size: 32px;
  text-align: center;
}

.sobre_container p{
  text-align: center;
  margin: 16px 0;
}

.sobre_github{
  justify-content: space-evenly;
}

#sobre_texto{
  margin-left: 30px;
}

/*Seção Contato*/

.contato_container{
  max-width: 1120px;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 540px);
  align-items: center;
  gap: 30px;
}

.contato_content{
  gap: 30px;
  flex-direction: column;
  margin: 64px 0px 0px 0px;
  font-size: 20px;
}

h4{
  font-size: 30px;
  font-weight: bold;
}

/* Seção redes sociais */

.social_container a img{
  width: 70px;
}

.social_icon:hover{
  filter: 
  brightness(0)
  saturate(100%)
  invert(28%)
  sepia(26%)
  saturate(4087%)
  hue-rotate(242deg)
  brightness(94%)
  contrast(103%)
  ;
}

/* Seção Formulário */

form{
  display: flex;
  flex-direction: column;
  margin: 70px 0px 0px 0px;
  padding: 24px;
}

form label{
  font-size: 20px;
  text-align: left;
}

form input, textarea{
  margin: 8px 0 16px;
  padding: 8px;
  border-radius: 14px;
  border: none;
  font-weight: bold;
}

textarea{
  resize: none;
}

form span{
  margin-bottom: 8px;
  margin-left: 12px;
  font-size: 12px;
  line-height: 16px;
  color: red;
}

form button{
  background-color: transparent;
}


.menu_sucess_content{
  display: flex;
  align-items: center;
}

/*Seção rodapé*/

footer{
  background-color: var(--purple-800);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

